body {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
}



/* *******************IMAGES************************ */
.chillies{
    height: 230px;
    width: 230px;
    float: left;
    margin-right: 30px;
    margin-top: 15px;
}

.vishal-img{
    height: 220px;
    width: 220px;
    margin-top: 40px;
}
.quantum-img{
    height: 230px;
    width: 230px;
    float: right;
    margin-left: 30px;
    margin-top: 15px;

}

.skill-row{
    width: 70%;
   margin: 100px auto 100px auto;
   text-align: left;
    line-height: 2;
}

h1{
    font-size: 100px;
    
    margin: 100px auto 0 auto;
    font-family: 'Comforter', cursive;
    
    
}

h2{
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    color: #3392ac;
    
}
h3{
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    color: #1f97b8;
}

.bot-cloud{
position:absolute;
left: 35%;
}
.top-cloud{
    position:relative;
    left: 15%;
    margin-top: 20px;
    
    }


.mountain {

    display: inline-block;
}
.profile{
    width: 60%;
    margin: 10px auto 10px auto;
}
.dotted-border {
    border-top: 7px dotted rgb(174, 173, 173) ;
    width: 90px;
    margin: 130px auto 130px auto;
}

.top-container{
    
    background-color: rgb(159, 194, 208);
}
.middle-container{
    width: 60%;
    margin: 10px auto 10px auto;
    line-height: 2;
}
.bottom-container{
    background-color: #1f97b8;
    height: 200px;
    width: 100%;
    
}
.footer-link{
    color: #205c91;
    margin: auto 30px auto 30px;
    font-weight: bold;
    text-decoration: none;
}

.trademark{
    font-size: 15px;
    margin-top: 30px;
    color: white;
}

    
    
a:hover{
    color: white;
}

.contact-me{
    margin: 150px auto 150px auto;
}

.above-contact{
    margin: 10px auto 100px;
    width: 40%;
}

.BUTTON_HQO {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 11px;
    line-height: 11px;
    color: #FFFFFF;
    font-family: Verdana;
    width: 181px;
    font-size: 26px;
    font-weight: 500;
    padding: 27px;
    background-color: #1687A7;
    -webkit-box-shadow: 0 0 6px 0 #000000;
    -moz-box-shadow: 0 0 6px 0 #000000;
    box-shadow: 0 0 6px 0 #000000;
    text-shadow: 0 8px 66px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_HQO:hover {
    border: solid #0059A0 0;
    background: #319AB8;
    background-image: -webkit-linear-gradient(top, #319AB8, #6E4EB7);
    background-image: -moz-linear-gradient(top, #319AB8, #6E4EB7);
    background-image: -ms-linear-gradient(top, #319AB8, #6E4EB7);
    background-image: -o-linear-gradient(top, #319AB8, #6E4EB7);
    background-image: -webkit-gradient(to bottom, #319AB8, #6E4EB7);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }